PORT=
MONGODB_URL=mongodb+srv://artisanEcom:artisanEcom123@cluster0.d0tal.mongodb.net/ecommerce?retryWrites=true&w=majority&appName=Cluster0
MONGODB_URL=mongodb://127.0.0.1:27017/ecommerce
live link ==>> "https://e-comm-six-gamma.vercel.app"
https://e-comm-4lwbjjj30-jewelhfahims-projects.vercel.app/